{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block stories%}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Update page</h1>
        </div>
    </div>
</div>

{% block crudform %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
            <form method="post" class="jumbotron">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Update" class="btn btn-success">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}