{% extends "base.html" %}
{% load static %}



{% block content %}
<h1>home</h1>
<div class="container">
    <div class="row md-8 center">
        <div class="col col-md-12 text-center news-block">
            {% for content in contents %}
            <h2 class="">{{content.title}}</h2>
            <hr />
            <p class="">{{content.content|safe}}</p>
            <p class="text-muted">{{content.updated_on}}</p>
            {% if user.is_authenticated %}
            <button class="btn btn-warning"><a href="{% url 'update_url' HomeNews.id %}">Update</a></button>
            <button class="btn btn-danger"><a href="{% url 'delete_url' i.oid %}">Delete</a></button>
       
            <button id="submitButton" type="submit" class="btn-lg">Upadate</button>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {% block crudform %}

            {% endblock %}
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col col-12 col-md-4">
                <h3>h</h3>
                <img src="{% static '/images/assest-images-workouts/leg-session.gif' %}" class="img-fluid"
                    alt="Legs Programs">
            </div>
            <div class="col col-12 col-md-4">
                <h3>t</h3>
                <img src="{% static '/images/assest-images-workouts/chest-and-back.gif' %}" class="img-fluid"
                    alt=" chest and back">
            </div>
            <div class="col col-12 col-md-4">
                <h3>y</h3>
                <img src="{% static '/images/assest-images-workouts/arms-and-shoulders.gif' %}" class="img-fluid"
                    alt=" arms and shoulders">
            </div>
        </div>
    </div>
    {% endblock %}