<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home news</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{title}}</h3>
                <div class="row">
                    <div class="col">
                        <p>{{content}}</p>
                        <p class="muted">{{updated_on}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>