asgiref==3.8.1
crispy-bootstrap5==2024.2
dj-database-url==0.5.0
Django==5.0.6
django-allauth==0.63.2
django-crispy-forms==2.2
gunicorn==22.0.0
oauthlib==3.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytz==2024.1
requests-oauthlib==2.0.0
sqlparse==0.5.0
stripe==10.3.0
whitenoise==6.7.0
