{% extends "base.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block basket %}
<div class="container border">
    <div class="row ">
        <h1>test</h1>
        <table>
            <thead>
                <tr>
                    <th>Session Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove Item</th>
                </tr>
            </thead>
            <tbody>
                {{ basket_items }}
                {{ user }}
                {% for item in basket_items %}
                {% if item.session.user == user %}
                <tr>
                    <td>{{ item.session.session_name }}</td>
                    <td>{{ item.session.item_price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <form>
                            <button class="button button-font btn-delete"
                                data-main_id="{{ basket_item.id }}">Delete</button>
                        </form>
                    </td>
                </tr>
                <hr />
                {% else %}
                <p>you have nothing in your basket</p>
                {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        {% include "checkout-buttons.html" %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-end">Total :£{{ grand_total|floatformat:2 }} </p>
        </div>
    </div>
</div>
<script src="{% static '/js/delete-item.js' %}"></script>
{% endblock %}