html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: blue;
}

/*---------------------------------------------------------home*/
.news-block {
    border: 2px solid black !important;
    box-shadow: 2px 2px green !important;
    border-radius: 15px !important;
}
.search-bar-container{
    margin: 5px;
}

#search-bar {
    width: 80%;
    border: 2px solid black;
    border-radius: 14px;
}