html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3,h4 {
    color: blue;
    text-transform: capitalize;
}
.button{
    border: 2px inset black;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
    margin: 2px;
    background-color: rgb(5, 206, 5);
    
}
.button-font {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.button:hover,
.button-font:hover {
    color: white;
    background-color: rgb(0, 67, 0);
}

/*---------------------------------------------------------home*/
.news-block,
.ptsessions
.border {
    border: 2px solid black !important;
    box-shadow: 2px 2px green !important;
    border-radius: 15px !important;
    margin: 5px;
}
/*---------------------------------------------------------pt sessions page*/

/*---------------------------------------------------------search bar*/
.search-bar-container{
    margin: 5px;
}

#search-bar {
    width: 80%;
    border: 2px solid black;
    border-radius: 14px;
}
/*-------------------------------------------------------mail chimp*/
#mc_embed_shell {
    margin: 10px;
    justify-content: center !important;
    display: flex !important;
    border: 2px solid black !important;
    box-shadow: 2px 2px green !important;
    border-radius: 15px !important;
}
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
    
                    }
/*------------------------------------------------------------------- profile page*/
.profile-img {
    border: 1px sold black;
    border-radius: 20px;
    margin: 10px;
}