{% extends "base.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block mainsessions %}

<div class="container">
    <div class="row md-8 center">
        <div class="col col-md-12 text-center news-block">
            <h1>User Sessions Availble</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for content in contents %}
        <div class="col border">
            <div class="search-bar-container">

                <h2 class="">{{content.session_name}}</h2>
                <hr />
                <p class="">{{content.body_part}}</p>
                <p class="text-muted">{{content.user}} Date Made on : {{content.created_on}}</p>

        {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>This Is where you make and plan out your own sessions from back day to leg day lets get training</p>
            <img src="/" alt="image will be uploaded by pt">
        </div>
    </div>
</div>
{% endblock %}