{% extends "base.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block usersessions %}

<div class="container">
    <div class="row md-8 center">
        <div class="col col-md-12 text-center news-block">
            <h1>User Sessions Availble</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="search-bar-container">
                <form action="/">
                    <input type="text" placeholder="Search.." name="search" id="search-bar">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>This Is where you make and plan out your own sessions from back day to leg day lets get training</p>
            <img src="/" alt="image will be uploaded by pt">
        </div>
    </div>
</div>
<div class="container border">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Exercise Name</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Sets</th>
                        <th scope="col">weight</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                {% for content in mysessions %}
                {{content.id}}
                <tbody id="exercise_{{ content.id }}">
                    <tr>
                        <td>{{ content.exercise_name }}</td>
                        <td>{{ content.reps }}</td>
                        <td>{{ content.sets }}</td>
                        <td>{{ content.weight }}</td>
                        <td>{{ content.comment }}</td>
                        <td>
                            <form method="post" action="{% url 'userprograms_update_url' id=content.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="session_id" value="{{ content.id }}">
                                <button type="submit" class="button btn-edit">
                                    Change
                                </button>
                            </form>
                                <form method="post" action="{% url 'delete_exercise' id=main_program.id session_id=content.id %}">
                                    {% csrf_token %}
                                <button type="submit" class="btn-delete button btn-edit">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this exercise?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a id="deleteConfirm" class="btn btn-danger" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            </table>
        </div>
    </div>
</div>
<div class="container border">
    <div class="row text-center">
        <div class="col col-6 d-inline text-center">
            <form id="usersessions-form" action="#" method="POST">
                {{ usersessions_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn button-font button-sub-btn btn-signup btn-lg">Add
                    New</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/delete-exersice.js' %}"></script>
{% endblock %}