{% extends "base.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block usersessions %}

<div class="container">
    <div class="row md-8 center">
        <div class="col col-md-12 text-center news-block">
            <h1>User Sessions Availble</h1>
        </div>
    </div>
</div>
<div class="container border">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Exercise Name</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Sets</th>
                        <th scope="col">weight</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                {% for content in mysessions %}
                <tbody id="exercise_{{ content.id }}">
                    <tr>
                        <td>{{ content.exercise_name }}</td>
                        <td>{{ content.reps }}</td>
                        <td>{{ content.sets }}</td>
                        <td>{{ content.weight }}</td>
                        <td>{{ content.comment }}</td>
                        <td>
                            <form method="post" action="{% url 'userprograms_update_url' id=content.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="session_id" value="{{ content.id }}">
                                <button type="submit" class="button btn-edit">
                                    Change
                                </button>
                            </form>
                            <form method="post"
                                action="{% url 'delete_exercise' id=main_program.id session_id=content.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn-delete button btn-edit">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="container border">
    <div class="row text-center d-block m-auto">
        <div class="col col-6 d-inline text-center">
            <form id="usersessions-form" action="#" method="POST">
                {{ usersessions_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="button-font button-sub-btn btn-signup btn-lg button">Add
                    New</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/delete-exersice.js' %}"></script>
{% endblock %}