{% extends "base.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block usersessions %}

<div class="container">
    <div class="row md-8 center">
        <div class="col col-md-12 text-center news-block">
            <h1>User Sessions Availble</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="search-bar-container">
                <form action="/">
                    <input type="text" placeholder="Search.." name="search" id="search-bar">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>This Is where you make and plan out your own sessions from back day to leg day lets get training</p>
            <img src="/" alt="image will be uploaded by pt">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Exercise Name</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Sets</th>
                        <th scope="col">weight</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                {% for content in mysessions %}
                <tbody>
                    <tr>
                        <td>{{ content.exercise_name }}</td>
                        <td>{{ content.reps }}</td>
                        <td>{{ content.sets }}</td>
                        <td>{{ content.weight }}</td>
                        <td>{{ content.comment }}</td>
                        <td>
                            
                            <a class="button mt-1" href="{% url 'userprograms_update_url' id=main_program.id %}">Change</a>
                            <a class="button mt-1">Delete</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col col-6 d-inline center">
            <form id="usersessions-form" action="#" method="post">
                {{ usersessions_form | crispy }}
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}