/*-------------------------------------------------------admin page*/
#header {
    background-color: #778899;
    border: 2px solid black !important;
    box-shadow: 5px 5px green !important;
    border-radius: 15px !important;
    margin: 10px;
}
.title,
#site-name {
    color : white !important;
}
#user-tools {
    color: #fafafa !important;
    font-weight: bold; 
}