{% extends "base.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block content %}
    <div class="container border">
        <div class="row">
            <div class="col">
                <h1>test</h1>
                <br>
                <h3>Order Number: {{ order.order_number }}</h3>
            </div>
        </div>
        <div class="row">
            <p>Thank you for you're order!</p>
            <p>You're Programme will be sent to your profile page and you will have access on the sessions page too</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                {{product.product}}
            </div>
        </div>
    </div>
{% endblock %}