{% extends "base.html" %}
{% load static %}

{% block profile %}
<div class="container">
    <div class="row">
        <div class="col profile-img text-center">
            <img src="" alt="profile">
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col ptsessions">
            {% if profile %}
        <h1>Welcome, {{ request.user.username }}!</h1>
        <p>Email {{request.user.email}}</p>
        <p>Programs: {{ profile.points }}</p>
        <!-- Add other profile fields as needed -->
    {% else %}
        <h1>No profile found for {{ request.user.username }}</h1>
    {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}