{% extends "base.html" %}
{% load static %}

{% block profile %}
<div class="container">
    <div class="row text-center">
        <div class="col ptsessions">
            {% if profile %}
                <h1>Welcome, {{ request.user.username }}!</h1>
                <p>Email: {{ request.user.email }}</p>
            {% else %}
                <h1>No profile found for {{ request.user.username }}</h1>
            {% endif %}
            <p>Number Of My Programs: {{ sessions_count }}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col border">
            <h1>My Recorded Sessions</h1>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <th>Session Name</th>
                            <th>Body Parts</th>
                            <th>Date Of Session</th>
                        </thead>
                        <tbody>
                            {% for user_session in user_sessions %}
                            <tr>
                                <td>{{ user_session.session_name }}</td>
                                <td>{{ user_session.body_part }}</td>
                                <td>{{ user_session.created_on }}</td>
                                <td><a class="button button-font p-1" href="{% url 'mysessions' id=user_session.id %}">Link To Session</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 ptsessions m-0">
            <h1>Client Sessions for {{ client_sessions }}</h1>
                {% if sessions %}
                    {% if request.user.username == client_sessions %}
                        <table class="table">
                            <thead>
                                <th>Session Name</th>
                                <th>Body Parts</th>
                                <th>Created By</th>
                            </thead>
                            <tbody>
                                {% for session in sessions %}
                                <tr>
                                    <td>{{ session.session_name }}</td>
                                    <td>{{ session.body_part }}</td>
                                    <td>{{ session.user }}</td>
                                    <td><a class="button button-font p-1" href="{% url 'ptsession_view' session_id=session.id %}">Link To Session</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                {% else %}
                    <p>You are not authorized to view sessions for this client.</p>
                {% endif %}
            {% else %}
                <p>No sessions found for this client.</p>
            {% endif %}
        </div>
        <div class="col-6 ptsessions m-0">
            <h1>My Orders Made By {{ user }}</h1>
                {% if orders %}
                    {% if request.user.email == user.email %}
                        <table class="table">
                            <thead>
                                <th>Order</th>
                                <th>Name Of Purchaser</th>
                                <th>Date Purchased On</th>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ order.order_number }}</td>
                                    <td>{{ order.full_name }}</td>
                                    <td>{{ order.date }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                {% else %}
                    <p>You are not authorized to view sessions for this client.</p>
                {% endif %}
            {% else %}
                <p>No Orders have been made.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
